<mat-card class="container">
    <mat-card-title class="title">
        Cars
    </mat-card-title>
        <mat-card class="item-card" *ngFor="let car of cars" [routerLink]="['/car-item', car.id]">
            <mat-card-content class="item-car-field">{{car.brand}} {{car.model}}. Year: {{car.year}}</mat-card-content>
            <div class="img-container"><img mat-card-image class="item-car-img" src="{{car.img}}"></div>
        </mat-card>
    <button mat-button class="btn-add-car" (click)="gotoAddCar()">Add Car</button>
</mat-card>
