<mat-card class="container">
    <mat-card-title class="title">
        Login
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-form-field class="form-field">
            <input matInput required type="email" placeholder="email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field class="form-field">
            <input matInput type="password" placeholder="password" [(ngModel)]="password">
        </mat-form-field>
    </mat-card-content>
    <button mat-raised-button class="btn-ok" (click)="login()">Log in</button>
</mat-card>

