.container {
    width: 40%;
    margin: 2% auto;
    align-content: center;
}

.title {
    text-align: center;
}

.form-field {
    width: 80%;
    margin: 0 10%;
}

.btn {
    display: inline-block;
    width: 20%;
    margin: 0 10%;
}

.or {
    display: inline-block;
}

@media screen and (max-width: 1080px) {
    .container {
        width: 80%;
    }
}