<mat-card class="container">
    <mat-card-title class="title">
        Edit {{car.brand}} {{car.model}}
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="form">
        <form [formGroup]="form">
            <mat-form-field class="form-field">
                <mat-select
                        required
                        placeholder="Brand"
                        [formControlName]="'brand'"
                        (selectionChange)="getModel($event)"
                        [value]="car.brand">
                    <mat-option *ngFor="let brand of brands" [value]="brand">
                        {{brand.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-select
                        required
                        placeholder="Model"
                        [formControlName]="'model'">
                    <mat-option *ngFor="let model of models" [value]="model">
                        {{model}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput required placeholder="Year" pattern="[0-9]{4}" formControlName="year"
                       [value]="car.year">
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput type="url" required placeholder="URL pass to the picture" formControlName="img"
                       [value]="car.img">
            </mat-form-field>
        </form>
    </mat-card-content>
    <button mat-raised-button class="btn" (click)="deleteCar()">Delete Car</button>
    <button mat-raised-button class="btn" (click)="updateCar()">Edit Car</button>
</mat-card>
