.container {
    width: 40%;
    margin: 2% auto;
    align-content: center;
}

.title {
    text-align: center;
}

.form-field {
    width: 80%;
    margin: 0 10%;
}

.btn {
    width: 115px;
    margin: 0 12%;
    display: inline-block;
}

.btn-container {
    width: 80%;
    margin: 0 10%;
    text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
        width: 80%;
    }

    .btn {
        display: inline-block;
        margin: 2% 23%;
        text-align: center;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    .container {
        width: 80%;
    }
    .btn {
        margin: 0% 2%;
    }
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) and (orientation : landscape) {
    .btn {
        margin: 2% 23%;
    }

}

@media only screen and (min-device-width : 1025px) {
    .container {
        width: 40%;
    }
    .btn {
        margin: 0% 2%;
    }
}